<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @narrative.title %>
</p>

<p>
  <b>Content:</b>
  <%= @narrative.content %>
</p>

<p>
  <b>Location:</b>
  <%= @narrative.location %>
</p>


<%= link_to 'Edit', edit_narrative_path(@narrative) %> |
<%= link_to 'Back', narratives_path %>
